[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==21.2.0"
click = "==8.0.3"
colorama = "==0.4.4"
flasgger = "==0.9.5"
importlib-resources = "==5.4.0"
itsdangerous = "==2.0.1"
jinja2 = "==3.0.3"
jsonschema = "==4.2.1"
markupsafe = "==2.0.1"
mistune = "==0.8.4"
pyrsistent = "==0.18.0"
six = "==1.16.0"
werkzeug = "==2.0.2"
zipp = "==3.6.0"
Flask = "==2.0.2"
PyYAML = "==6.0"

[dev-packages]

[requires]
python_version = "3.8"
