attrs==21.2.0
click==8.0
colorama==0.4.4
flasgger==0.9.5
Flask==2.0.2
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.2.1
MarkupSafe==2.0.1
mistune==0.8.4
Pillow==8.4.0
pyrsistent==0.18.0
PyYAML==6.0
qrcode==7.3.1
six==1.16.0
Werkzeug==2.0.2
zipp==3.6.0
